* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.blog-grid {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
  gap: 10px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 250px;
  row-gap: 8px;
  border-radius: 0.5rem;
}
.blog-card:hover {
  box-shadow: 2px 1px 3px rgb(75, 75, 75);
}
.blog-image {
  border-radius: 0.5rem;
  height: 150px;
  width: 100%;
  background-image: url('../images/right.png');
  background-size: cover;
}

@media screen and (max-width: 420px) {
  .blog-grid {
    grid-template-columns: 1fr;
    width: 90%;
    justify-items: center;
  }
  .blog-card {
    width: 90%;
  }
  .blog-image {
    height: 170px;
  }
}
@media screen and (max-width: 822px) and (min-width: 420px) {
  .blog-grid {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    justify-items: center;
    gap: 20px;
  }
  .blog-card {
    width: auto;
  }
  .blog-image {
    height: 170px;
  }
}

.blog-title {
  font-size: larger;
  font-weight: bold;
  margin: 0;
}

.blog-text {
  font-size: smaller;
  color: rgb(64, 63, 63);
}

.blog-icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.blog-icon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-size: cover;
}

.navbar {
  display: flex;
  height: 5vh;
  background-color: beige;
}

.nabar-brand {
  border-radius: 4px;
  height: 32px;
  width: 32px;
}

nav {
  background-color: white;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.323);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: display 0.3s ease-in-out;
}

.sidebar .show {
  display: flex;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}
.menu-bar {
  display: none;
}
@media screen and (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-bar {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

.slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-slider {
  width: 95%;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: 10px 0px;
}

.slide {
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: 1;
  background-color: black;
}

.slide img {
  border-radius: 10px;
  width: 100%;
  height: 500px;
  object-fit: cover;
  z-index: 1;
}
.slide .info {
  position: absolute;
  top: 0;
  background-color: rgba(71, 67, 67, 0.323);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: inherit;
}
.slide .info h2 {
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form-container {
  width: 600px;
  height: 100vh;
  align-self: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 2px;
}

@media screen and (max-width: 800px) {
  .form-container {
    max-width: 100%;
  }
}

.form-container input {
  margin-bottom: 10px;
  background-color: aliceblue;
  border-radius: 10px;
  outline-color: aqua;
  height: 2rem;
  border: 1px;
  border-color: azure;
  padding-left: 10px;
}

.form-container textarea {
  margin-bottom: 10px;
  background-color: aliceblue;
  border-radius: 10px;
  outline-color: aqua;
  border: 0;
  padding: 10px;
  max-height: 4rem;
}

.form-container input[type='file']::file-selector-button {
  border: 0;
  height: 34px;
  content: 'Image';
}

.form-container input[type='file'] {
  justify-content: center;
  padding-left: 0;
}

.form-container label {
  color: rgba(13, 145, 240, 0.791);
}

.button-container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.button {
  flex-grow: 1;
  height: 1.75rem;
  border-radius: 0.85rem;
  transition: 0.3s;
}

.button:hover {
  height: 1.8rem;
  border-radius: 0.75rem;
  box-shadow: 0px 10px 8px -9px;
}

.button-cancel {
  background-color: white;
}
.button-submit {
  background-color: chocolate;
  border: 0;
}

.login-button {
  background-color: black;
  color: wheat;
  padding: 5px;
  border-radius: 2px;
  margin-right: 10px;
}

.mobile {
  display: flex !important;
}

@media screen and (max-width: 800px) {
  .mobile {
    display: none !important;
  }
}
