<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/mainStyles.css" />
    <title><%= title%></title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %> <%- include('partials/slider.ejs') %>
    <div class="blog-grid">
      <div class="blog-card">
        <div class="blog-image"></div>
        <p class="blog-title">The trend of life</p>
        <p class="blog-text">
          The trend of has been changing this era. Too much different things
          hapen at the same time
        </p>
        <div class="blog-icon-wrapper">
          <div class="blog-icon"></div>
          <p class="blog-text">By Ekele * Jun 2024</p>
        </div>
      </div>
      <div class="blog-card">
        <div class="blog-image"></div>
        <p class="blog-title">The trend of life</p>
        <p class="blog-text">
          The trend of has been changing this era. Too much different things
          hapen at the same time
        </p>
        <div class="blog-icon-wrapper">
          <div class="blog-icon"></div>
          <p class="blog-text">By Ekele * Jun 2024</p>
        </div>
      </div>
      <div class="blog-card">
        <div class="blog-image"></div>
        <p class="blog-title">The trend of life</p>
        <p class="blog-text">
          The trend of has been changing this era. Too much different things
          hapen at the same time
        </p>
        <div class="blog-icon-wrapper">
          <div class="blog-icon"></div>
          <p class="blog-text">By Ekele * Jun 2024</p>
        </div>
      </div>
      <div class="blog-card">
        <div class="blog-image"></div>
        <p class="blog-title">The trend of life</p>
        <p class="blog-text">
          The trend of has been changing this era. Too much different things
          hapen at the same time
        </p>
        <div class="blog-icon-wrapper">
          <div class="blog-icon"></div>
          <p class="blog-text">By Ekele * Jun 2024</p>
        </div>
      </div>
      <div class="blog-card">
        <div class="blog-image"></div>
        <p class="blog-title">The trend of life</p>
        <p class="blog-text">
          The trend of has been changing this era. Too much different things
          hapen at the same time
        </p>
        <div class="blog-icon-wrapper">
          <div class="blog-icon"></div>
          <p class="blog-text">By Ekele * Jun 2024</p>
        </div>
      </div>
      <div class="blog-card">
        <div class="blog-image"></div>
        <p class="blog-title">The trend of life</p>
        <p class="blog-text">
          The trend of has been changing this era. Too much different things
          hapen at the same time
        </p>
        <div class="blog-icon-wrapper">
          <div class="blog-icon"></div>
          <p class="blog-text">By Ekele * Jun 2024</p>
        </div>
      </div>
    </div>
  </body>
</html>
