<%- include('partials/header.ejs')%> <%- include('partials/navbar.ejs')%>
<div class="user-card">
  <img src="" alt="" class="user-image" />
  <div class="user-data"></div>
</div>
<%- include('partials/blogsGrid.ejs')%> <%- include('partials/footer.ejs')%>
