<nav>
  <ul class="sidebar">
    <li class="close-button">
      <a href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#5f6368"
        >
          <path
            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
          /></svg
      ></a>
    </li>
    <li><a href="#">wow</a></li>
    <li><a href="#">how</a></li>
    <li><a href="#">ny</a></li>
    <% if (!user) {%>
    <li><a href="" class="login-button">login</a></li>
    <%}else{%>
    <li class="hideOnMobile"><a href="">user.username</a></li>
    <%} %>
  </ul>
  <ul>
    <li><a href="#">Brand</a></li>
    <li class="hideOnMobile"><a href="#">wow</a></li>
    <li class="hideOnMobile"><a href="#">how</a></li>
    <li class="hideOnMobile"><a href="#">ny</a></li>
    <li class="menu-bar"><a href="#">menu</a></li>
    <% if (!user) {%>
    <li><a href="" class="login-button mobile">login</a></li>
    <%}else{%>
    <li class="hideOnMobile"><a href="">user.username</a></li>
    <%} %>
  </ul>
</nav>
