<div class="slider-container">
  <div class="image-slider">
    <div class="slide">
      <img src="/images/right.png" alt="" />
      <div class="info">
        <h2>The trend of life</h2>
        <p>
          The trend of has been changing this era. Too much different things
          hapen at the same time
        </p>
      </div>
    </div>
    <div class="slide">
      <img src="/images/right.png" alt="" />
      <div class="info">
        <h2>The trend of life</h2>
        <p>
          The trend of has been changing this era. Too much different things
          hapen at the same time
        </p>
      </div>
    </div>
    <div class="slide">
      <img src="/images/right.png" alt="" />
      <div class="info">
        <h2>The trend of life</h2>
        <p>
          The trend of has been changing this era. Too much different things
          hapen at the same time
        </p>
      </div>
    </div>
  </div>
</div>
