<div class="slider-container">
  <div class="image-slider">
    <div class="slide">
      <img src="/images/right.png" alt="" />
      <div class="info">
        <h2>The trend of life</h2>
        <p>
          The trend of has been changing this era. Too much different things
          hapen at the same time
        </p>
      </div>
    </div>
    <div class="navigation">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="34px"
        viewBox="0 -960 960 960"
        width="34px"
        fill="#fff"
      >
        <path
          d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"
        />
      </svg>
    </div>
  </div>
</div>

<script type="text/javascript">
  var slides = document.querySelectorAll('.slide')
  var navigation = document.querySelector('.navigation')
  var item = 0

  const manualNav = i => {
    slides.forEach(slide => {
      slide.classList.remove('active')
    })
    slides[i].classList.add('active')
  }

  navigation.addEventListener('click', () => {
    if (item === slides.length - 1) {
      item = 0
    } else {
      item++
    }
    manualNav(item)
  })

  document.addEventListener('DOMContentLoaded', () => {
    manualNav(0)
  })
</script>
